node_modules/
**/.env
.DS_Store
coverage/
pgdata/
postgres.log
server/swagger-output.json

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
update_app.log