name: JS lint

on: [push, pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run ESLint
        run: npx eslint .

      - name: Start services with docker-compose
        run: docker-compose up -d --build

      - name: Seed database
        run: docker-compose exec app node server/utils/db-seeder.js

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Wait for app to be ready
        run: npx wait-on http://localhost:3000/dashboard.html

      - name: Run Playwright Tests
        run: npm run test-integration